@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
$primary: #fe2752;
$secondary: #79113a;
$poppins: 'Poppins', sans-serif;

/*body {
  padding-top: 3em;
}*/

body {
  font-family: $poppins !important;
  font-weight: normal !important;
}

.btn {
  border-radius: 30px !important;
}

.btn-primary {
  color: #fff !important;
}

.btn:active {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
